/*botao*/

.btn {
    background: #A650FF;
    box-shadow: 0px 0px 7px #A650FF;
    border-radius: 7px;
}

.btn-2{
    background: #25282B;
    box-shadow: -2px -2px 4px rgba(98, 97, 97, 0.25), 2px 2px 4px #161616;
    border-radius: 7px;
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


table, th, td {
    border: 1px solid black;
}